In [2]:
from selenium import webdriver

browser = webdriver.Chrome("chromedriver.exe")
browser.get('http://www.naver.com/')

In [10]:
from selenium import webdriver

USER='heemokyim'
PASS='dladmlgus348'

browser = webdriver.Chrome('chromedriver.exe')
browser.implicitly_wait(3) #서버가 터지지 않게 시간적 여유

url_login='https://nid.naver.com/nidlogin.login'
browser.get(url_login)
print('로그인 페이지로 접근합니다.')

로그인 페이지로 접근합니다.

In [11]:
e=browser.find_element_by_id('id')
e.clear() #입력창에 아무것도 없도록
e.send_keys(USER)
e=browser.find_element_by_id('pw')
e.clear()
e.send_keys(PASS)

In [12]:
form=browser.find_element_by_css_selector('#frmNIDLogin > fieldset > input') #input.btn_global[type=submit]
form.click()
print("버튼을 클릭합니다.")

버튼을 클릭합니다.

In [14]:
browser.get('https://order.pay.naver.com/home')
products=browser.find_elements_by_css_selector("#_rowLi20180501101536CHK2018050161751561 > div.p_inr > div.p_info > a > span") #.p_info span
for product in products:
    print("-", product.text)
##_rowLi20180501101536CHK2018050161751561 > div.p_inr > div.p_info > a > span

- 24k 금수저 돌반지 3.75g / 1.875g

In [21]:
import requests
import json

apikey = "0f6d2ae2af056d1aee6aace4d446e084"

cities = ["Seoul,KR", "Tokyo,JP","New York,US"]
api = "http://api.openweathermap.org/data/2.5/weather?q={city}&APPID={key}"

k2c = lambda k: k -273.15

for name in cities:
    url= api.format(city=name, key=apikey)
    
    r= requests.get(url)
    
    data= json.loads(r.text)
    print(data)
    print(data["name"])

{'coord': {'lon': 126.98, 'lat': 37.57}, 'weather': [{'id': 701, 'main': 'Mist', 'description': 'mist', 'icon': '50d'}, {'id': 500, 'main': 'Rain', 'description': 'light rain', 'icon': '10d'}, {'id': 300, 'main': 'Drizzle', 'description': 'light intensity drizzle', 'icon': '09d'}], 'base': 'stations', 'main': {'temp': 296.72, 'pressure': 1004, 'humidity': 83, 'temp_min': 294.15, 'temp_max': 298.15}, 'visibility': 11265, 'wind': {'speed': 10.3, 'deg': 220, 'gust': 13.4}, 'clouds': {'all': 90}, 'dt': 1526439480, 'sys': {'type': 1, 'id': 7673, 'message': 0.0139, 'country': 'KR', 'sunrise': 1526415735, 'sunset': 1526466908}, 'id': 1835848, 'name': 'Seoul', 'cod': 200}
Seoul
{'coord': {'lon': 139.76, 'lat': 35.68}, 'weather': [{'id': 801, 'main': 'Clouds', 'description': 'few clouds', 'icon': '02d'}], 'base': 'stations', 'main': {'temp': 299.32, 'pressure': 1013, 'humidity': 48, 'temp_min': 297.15, 'temp_max': 301.15}, 'visibility': 16093, 'wind': {'speed': 3.1, 'deg': 170}, 'clouds': {'all': 20}, 'dt': 1526439360, 'sys': {'type': 1, 'id': 7622, 'message': 0.0071, 'country': 'JP', 'sunrise': 1526412929, 'sunset': 1526463578}, 'id': 1850147, 'name': 'Tokyo', 'cod': 200}
Tokyo
{'coord': {'lon': -73.99, 'lat': 40.73}, 'weather': [{'id': 701, 'main': 'Mist', 'description': 'mist', 'icon': '50n'}, {'id': 500, 'main': 'Rain', 'description': 'light rain', 'icon': '10n'}], 'base': 'stations', 'main': {'temp': 292.24, 'pressure': 1015, 'humidity': 93, 'temp_min': 291.15, 'temp_max': 293.15}, 'visibility': 16093, 'wind': {'speed': 0.76, 'deg': 43.0034}, 'clouds': {'all': 90}, 'dt': 1526440740, 'sys': {'type': 1, 'id': 1969, 'message': 0.0149, 'country': 'US', 'sunrise': 1526463467, 'sunset': 1526515647}, 'id': 5128581, 'name': 'New York', 'cod': 200}
New York