In [1]:
import pandas as pd
df=pd.read_csv('40개변수대한항공.csv',engine='python')

In [3]:
del df['Unnamed: 0']
df.head()

,low,high,volume,hello5,open,beforeclose,line,natural,avertemp,enhwa,...,hello18,maxtemptime,hello26,maxwindtime,g,kosdaq,kospi,mean,avertear,close
0,37200,38450,733757,2421,38200,38000,38650,5.971,-2.8,1384.91,...,0.0,1604,6.6,1347,6.36,342.77,1173.57,2011.45,-15.8,38400
1,38550,39600,825223,131,38800,38400,38690,6.072,-1.6,1432.28,...,0.0,1420,6.2,1403,6.32,348.41,1194.28,2075.61,-11.8,39150
2,38850,40500,1074938,1341,39450,39150,38720,5.983,-2.0,1402.08,...,1.5,1522,6.2,1416,6.27,356.13,1228.17,2105.31,-9.9,39300
3,38500,39700,1431865,1416,39700,39300,38830,5.872,-0.5,1405.45,...,0.4,1409,5.9,1635,6.24,356.52,1205.70,2084.83,-11.4,39300
4,38300,39850,909008,1434,38950,39300,38910,5.583,-0.9,1394.83,...,0.0,1500,5.4,1621,6.08,358.48,1180.96,2050.10,-12.3,38400

In [4]:
df['yn']=df['close'] - df['beforeclose']
df.head()

,low,high,volume,hello5,open,beforeclose,line,natural,avertemp,enhwa,...,maxtemptime,hello26,maxwindtime,g,kosdaq,kospi,mean,avertear,close,yn
0,37200,38450,733757,2421,38200,38000,38650,5.971,-2.8,1384.91,...,1604,6.6,1347,6.36,342.77,1173.57,2011.45,-15.8,38400,400
1,38550,39600,825223,131,38800,38400,38690,6.072,-1.6,1432.28,...,1420,6.2,1403,6.32,348.41,1194.28,2075.61,-11.8,39150,750
2,38850,40500,1074938,1341,39450,39150,38720,5.983,-2.0,1402.08,...,1522,6.2,1416,6.27,356.13,1228.17,2105.31,-9.9,39300,150
3,38500,39700,1431865,1416,39700,39300,38830,5.872,-0.5,1405.45,...,1409,5.9,1635,6.24,356.52,1205.70,2084.83,-11.4,39300,0
4,38300,39850,909008,1434,38950,39300,38910,5.583,-0.9,1394.83,...,1500,5.4,1621,6.08,358.48,1180.96,2050.10,-12.3,38400,-900

In [5]:
df.drop(['close'], inplace=True, axis=1)

In [6]:
def stockflow(x):
    if x >= 0:
        return 1
    else:
        return 0
df['yn'] = df.yn.map(lambda x: stockflow(x))
df.head()

,low,high,volume,hello5,open,beforeclose,line,natural,avertemp,enhwa,...,hello18,maxtemptime,hello26,maxwindtime,g,kosdaq,kospi,mean,avertear,yn
0,37200,38450,733757,2421,38200,38000,38650,5.971,-2.8,1384.91,...,0.0,1604,6.6,1347,6.36,342.77,1173.57,2011.45,-15.8,1
1,38550,39600,825223,131,38800,38400,38690,6.072,-1.6,1432.28,...,0.0,1420,6.2,1403,6.32,348.41,1194.28,2075.61,-11.8,1
2,38850,40500,1074938,1341,39450,39150,38720,5.983,-2.0,1402.08,...,1.5,1522,6.2,1416,6.27,356.13,1228.17,2105.31,-9.9,1
3,38500,39700,1431865,1416,39700,39300,38830,5.872,-0.5,1405.45,...,0.4,1409,5.9,1635,6.24,356.52,1205.70,2084.83,-11.4,1
4,38300,39850,909008,1434,38950,39300,38910,5.583,-0.9,1394.83,...,0.0,1500,5.4,1621,6.08,358.48,1180.96,2050.10,-12.3,0

In [7]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df.iloc[:,0:39], df["yn"], test_size=0.33, random_state=42)

In [8]:
import pandas
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

seed = 7
model = LogisticRegression().fit(X_train, y_train)

predicted = model.predict(X_test)
report = classification_report(y_test, predicted)
print(report)
matrix = confusion_matrix(y_test, predicted)
print(matrix)

             precision    recall  f1-score   support

          0       0.87      0.83      0.85       379
          1       0.84      0.88      0.86       395

avg / total       0.85      0.85      0.85       774

[[313  66]
 [ 47 348]]

In [10]:
from sklearn.externals import joblib

filename = 'koreaair_classifier.joblib.pkl'
_ = joblib.dump(model, filename, compress=9)

model2 = joblib.load(filename)
model2

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)